<h1>新しいクイズを作成</h1>

<%= form_with model: @quiz_question, local: true do |form| %>
  <div>
    <%= form.label :question, "問題文" %><br>
    <%= form.text_area :question, rows: 5, style: "width: 100%;" %>
  </div>

  <div>
    <%= form.label :option1, "選択肢1" %><br>
    <%= form.text_field :option1, style: "width: 100%;" %>
  </div>

  <div>
    <%= form.label :option2, "選択肢2" %><br>
    <%= form.text_field :option2, style: "width: 100%;" %>
  </div>

  <div>
    <%= form.label :option3, "選択肢3" %><br>
    <%= form.text_field :option3, style: "width: 100%;" %>
  </div>

  <div>
    <%= form.label :option4, "選択肢4" %><br>
    <%= form.text_field :option4, style: "width: 100%;" %>
  </div>

  <div>
    <%= form.label :correct, "正解の番号 (1〜4)" %><br>
    <%= form.number_field :correct, in: 1..4 %>
  </div>

  <div>
      <%= form.submit "作成", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "クイズ一覧に戻る", quiz_questions_path, class: "btn btn-warning" %>