<h1><%= @quiz_question.question %></h1>

<p><strong>Answer:</strong> <%= @quiz_question.answer %></p>
<h2>Explanation:</h2>
<p>ここに解説を記入します。例えば、解答に至る理由や詳細な説明を記載します。</p>

<%= @quiz_question.quiz.inspect %>
<% if @quiz_question.quiz.present? %>
  <%= link_to 'Back to Quiz', quiz_path(@quiz_question.quiz.id) %>
<% else %>
  <p>関連するクイズが見つかりませんでした。</p>
<% end %>

<h3>選択肢</h3>
<ul>
  <% @quiz_question.options.each do |option| %>
    <li>
      <%= form_with url: check_answer_quiz_question_path(@quiz_question), method: :post do |form| %>
        <% @options.each do |option| %>
          <%= form.radio_button :answer, option.id %>
          <%= option.option_text %><br>
        <% end %>
        <%= form.submit 'Submit Answer' %>
      <% end %>
    </li>
  <% end %>
</ul>