<%= form_with model: post, local: true do |form| %>
  <div>
    <%= form.label :body, "動画の説明" %>
    <%= form.text_area :body, style: "width: 40%; height: 20px;" %>
  </div>
  <div>
    <%= form.label :youtube_url, "YouTubeのURL" %>
    <%= form.text_field :youtube_url %>
  </div>
  <div>
    <%= form.submit "投稿" %>
  </div>
<% end %>