<div id="<%= dom_id post %>" class="row">
<div class="col-md-6 my-3">
<%= image_tag(post.picture_url, width: '100%') if post.picture.present? %>

</div>
<div class="col-md-6 my-3">

    <h1>
    <%= post.title %>
    </h1>

    <time class="badge rounded-pill bg-info text-dark">
        <%= post.published_at %>
    </time>
    <p class="my-4">

  <%= post.description %>
  </p>
  </div>
  </div>
