<h1>ユーザー編集</h1>

<%= form_with model: [:admin, @user], local: true do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :last_name, "姓" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :first_name, "名" %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :gender, "性別" %><br>
    <%= form.radio_button :gender, "男" %> <%= form.label :gender, "男", value: "男" %>
    <%= form.radio_button :gender, "女" %> <%= form.label :gender, "女", value: "女" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, "メールアドレス" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :tel_number, "電話番号" %>
    <%= form.text_field :tel_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, "パスワード（変更する場合のみ）" %>
    <%= form.password_field :password, class: "form-control", autocomplete: "new-password" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, "パスワード確認" %>
    <%= form.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :remarks, "備考" %>
    <%= form.text_area :remarks, class: "form-control", rows: 4 %>
  </div>

  <%= form.submit "更新", class: "btn btn-primary" %>
<% end %>

<%= link_to "戻る", admin_users_path, class: "btn btn-secondary mt-3" %>