<div class="float-end">
  <%= link_to "新規登録", new_user_path, class: "btn btn-primary header-btn" %>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>電話番号</th>
        <th>リンク</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td style="width:80px;"><%= user.id %></td>
          <td><%= user.last_name %> <%= user.first_name %></td>
          <td><%= user.email %></td>
          <td><%= user.tel_number %></td>
          <td>
            <%= link_to "詳細", user_path(user), class: "btn btn-info me-1" %>
            <%= link_to "編集", edit_user_path(user), class: "btn btn-warning me-1" %>
            <%= link_to "削除", user_path(user), method: "delete", data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>