<div class="float-end">
  <%= link_to "新規登録", new_admin_user_path, class: "btn btn-primary header-btn" %>
</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>性別</th>
        <th>メールアドレス</th>
        <th>電話番号</th>
        <th>リンク</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td style="width:80px;"><%= user.id %></td>
          <td><%= user.last_name %> <%= user.first_name %></td>
          <td><%= user.gender %></td>
          <td><%= user.email %></td>
          <td><%= user.tel_number %>
        </td>
          <td>
            <%= link_to "詳細", admin_user_path(user), class: "btn btn-info me-1" %>
            <%= button_to "削除", admin_user_path(user),
              method: :delete,
              data: { confirm: "本当に削除しますか？" },
              class: "btn btn-danger me-1" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead th, tbody td, tfoot td {
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dddddd;
  }

  thead th {
    background-color: #f2f2f2;
  }

  tfoot td {
    background-color: #e9e9e9;
  }
</style>