<h1>ユーザー詳細</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th>ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= @user.last_name %> <%= @user.first_name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @user.tel_number %></td>
    </tr>
    <!-- 必要に応じて他の属性も表示 -->
  </tbody>
</table>

<%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-warning me-2" %>
<%= link_to "一覧に戻る", admin_users_path, class: "btn btn-secondary" %>